<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ web }}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis
    felis. Vestibulum eu risus in ipsum scelerisque mollis at nec magna. Fusce
    molestie aliquam quam. Sed porta egestas massa, sit amet vehicula dui mattis
    id. Maecenas vel dolor eu elit scelerisque dapibus. Cras porttitor tempor
    mi, sed maximus est luctus vel. Nullam posuere semper dictum.
  </p>
</article>
